%h1 Editing Subscription
= render 'form', subscription: @subscription
%p
= link_to 'Show', @subscription, class: "waves-effect waves-light btn"
= link_to 'Back', subscriptions_path, class: "waves-effect waves-light btn"