%h1 Products
.flex-products
  - @products.each do |product|
    .card.blue-grey.darken-1.flex-product
      = link_to product do
        .card-image
          =image_tag("food.jpg", :alt => "Product image")
        .card-content.white-text
          %span.card-title.orange-text
            =product.name
          =product.short_description
        .card-action.white-text
          =product.category.name
          .price.orange-text= "€#{product.price}"