%footer.page-footer
  .container
    .row
      .col.l4.s12
        %h5.white-text Service
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => "/users/sign_in"} My account
          %li
            %a.grey-text.text-lighten-3{:href => "/support"} Support

      .col.l4
        %h5.white-text FAQs
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => "/buyerfaq"} Buyer FAQs
          %li
            %a.grey-text.text-lighten-3{:href => "/makerfaq"} Makers FAQs

      .col.l4
        %h5.white-text Company
        %ul
          %li
            %a.grey-text.text-lighten-3{:href => "/aboutus"} About us
          %li
            %a.grey-text.text-lighten-3{:href => "/contact"} Contact

  .footer-copyright
    .container
      .right © 2017 LemonadeStand
      %a.grey-text.text-lighten-4{:href => "#!"} Terms & Conditions
      | 
      %a.grey-text.text-lighten-4{:href => "#!"} Privacy and cookies