%nav
  .nav-wrapper
    %a.brand-logo{:href => "#!"} Logo
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "/products"} Products
      %li
        %a{:href => "/subscriptions"} Subscriptions
      %li
        %a{:href => "/providers"} Providers
      %li
        %a{:href => "/users"} Users
    %ul#mobile-demo.side-nav
      %li
        %a{:href => "/products"} Products
      %li
        %a{:href => "/subscriptions"} Subscriptions
      %li
        %a{:href => "/providers"} Providers
      %li
        %a{:href => "/users"} Users
